<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bravedawn.web.mbg.mapper.CommentMapper">
    <resultMap id="BaseResultMap" type="cn.bravedawn.web.mbg.model.Comment">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="personal_site" jdbcType="VARCHAR" property="personalSite"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, article_id, nickname, content, email, personal_site, insert_time, update_time
    </sql>

    <select id="selectListByArticleId" resultType="comment">
        SELECT
            nickname,
            content,
            insert_time
        FROM
            comment
        WHERE
            article_id = #{articleId}
        ORDER BY insert_time
    </select>
</mapper>