<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.bravedawn.web.mbg.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="cn.bravedawn.web.mbg.model.Tag">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="article_id" jdbcType="BIGINT" property="articleId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, article_id, name, insert_time, update_time
    </sql>

    <select id="selectTagNameByArticleId" resultType="string">
        SELECT
            name
        FROM
            tag
        LEFT JOIN article_tag_relation atr ON atr.tag_id = tag.id
        WHERE
            atr.article_id = #{articleId}
    </select>


    <insert id="batchInsert" useGeneratedKeys="true" keyProperty="id">
        insert into
            tag (name)
        values
        <foreach collection="tagList" index="index" item="item" separator="," >
            <if test="item != null">
                (#{item.name})
            </if>
        </foreach>
    </insert>

</mapper>