<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300">

    <!-- ================= 全局属性 ================= -->
    <Properties>
        <Property name="LOG_HOME">/opt/app/jasper/logs</Property>

        <Property name="LOG_PATTERN">[%d{yyyy-MM-dd HH:mm:ss.SSS}][%X{traceId}][%X{tradeName}][%t]%-5level%logger{36} - %msg%n</Property>
    </Properties>

    <!-- ================= Appenders ================= -->
    <Appenders>

        <!-- 控制台（一般保留，容器/调试用） -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- 普通业务日志文件 -->
        <RollingFile name="BizFile"
                     fileName="${LOG_HOME}/application.log"
                     filePattern="${LOG_HOME}/archive/%d{yyyy-MM}/application-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100MB"/>
            </Policies>

            <DefaultRolloverStrategy max="30">
                <Delete basePath="${LOG_HOME}/archive" maxDepth="3">
                    <IfFileName glob="**/*.log.gz"/>
                    <IfLastModified age="P90D"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- 错误日志文件（同步） -->
        <RollingFile name="ErrorFile"
                     fileName="${LOG_HOME}/error.log"
                     filePattern="${LOG_HOME}/archive/%d{yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout pattern="${LOG_PATTERN}"/>

            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <!-- ================= Loggers ================= -->
    <Loggers>

        <!-- 默认：AsyncLogger（INFO / DEBUG 等） -->
        <Root level="INFO">
            <AppenderRef ref="BizFile"/>
            <!--<AppenderRef ref="Console"/>-->
        </Root>


        <!-- 错误日志：同步写，不走 Async -->
        <Logger name="ERROR_LOG"
                level="ERROR"
                additivity="false">
            <AppenderRef ref="ErrorFile"/>
        </Logger>

        <!-- 降低三方日志 -->
        <Logger name="org.springframework" level="INFO"/>
        <Logger name="org.apache" level="WARN"/>

    </Loggers>

</Configuration>
