<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--一级缓存使用STATEMENT-->
        <setting name="localCacheScope" value="STATEMENT"/>
    </settings>

    <typeAliases>
        <package name="cn.bravedawn.web.mbg.model"/>
    </typeAliases>

    <plugins>
        <plugin interceptor="cn.bravedawn.web.config.interceptor.MybatisInterceptor">
            <property name="normalCost" value="200"/>
            <property name="isOpenSqlFormat" value="true"/>
        </plugin>
    </plugins>

</configuration>