
/* 公共样式 */
com-width {
    width: 80%;
    margin: 0 auto;
}
html {
    font-size: 24px;
}

/* 私有样式 */

body {
    margin: 0;
}

.md-header {
    background-color: #4051b5;
    color: #fff;
    position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
}

.md-header-shadow {
    box-shadow: 0 0 0.2rem rgb(0 0 0 / 10%), 0 0.2rem 0.4rem rgb(0 0 0 / 20%);
    transition: transform .25s cubic-bezier(.1,.7,.1,1),box-shadow .25s;
}

.md-grid {
    display: flex;
    max-width: 61rem;
    margin: 0 auto;
}

